aside.aside
  ul.aside__steps
    li.aside__step
      .aside__step__num.aside__step__num--1(aria-hidden='true') 1
      label.aside__step__label
        span.aside__step__label__title Step 1
        strong.aside__step__label__name Your info
    li.aside__step
      .aside__step__num.aside__step__num--2(aria-hidden='true') 2
      label.aside__step__label
        span.aside__step__label__title Step 2
        strong.aside__step__label__name Select plan
    li.aside__step
      .aside__step__num.aside__step__num--3(aria-hidden='true') 3
      label.aside__step__label
        span.aside__step__label__title Step 3
        strong.aside__step__label__name Add-ons
    li.aside__step
      .aside__step__num.aside__step__num--4(aria-hidden='true') 4
      label.aside__step__label
        span.aside__step__label__title Step 4
        strong.aside__step__label__name Summary
