+step(4, "Finishing up", "Double-check everything looks OK before confirming.")
  .form__summary
    .form__summary__wrapper
      .form__summary__plan
        .form__summary__plan__group
          strong.form__summary__plan__name
          button.form__summary__plan__change Change
        strong.form__summary__plan__price
      .form__summary__adds
    .form__summary__total
      .form__summary__total__title
      strong.form__summary__total__price