+step(1, "Personal info", "Please provide your name, email address, and phone number.")
  label.form__step--1__control
    strong.form__step--1__control__label Name
      span(aria-label='required') *
    input.form__step--1__control__input(required='' type='text' name='name' placeholder='e.g. Stephen King')
  label.form__step--1__control
    strong.form__step--1__control__label Email Address
      span(aria-label='required') *
    input.form__step--1__control__input(required='' type='email' name='email' placeholder='e.g. stephenking@lorem.com')
  label.form__step--1__control
    strong.form__step--1__control__label Phone Number
      span(aria-label='required') *
    input.form__step--1__control__input(required='' type='tel' name='phone' placeholder='e.g. +1 234 567 890')
