+step(3, "Pick add-ons", "Add-ons help enhance your gaming experience.")
  .form__controls
    label.form__control--checked.form__step--3__control(tabindex='0')
      .form__step--3__control__input--views(aria-hidden='true')
      .form__control--checked__label.form__step--3__control__label
        .form__step--3__control__label__group
          strong.form__control--checked__label__name.form__step--3__control__label__name Online service
          span.form__step--3__control__label__desc Access to multiplayer games
        span.form__step--3__control__label__price.form__step--3__control__label__price--monthly +$1/mo
        span.form__step--3__control__label__price.form__step--3__control__label__price--annually +$10/yr
      input.form__control--checked__input.form__step--3__control__input.form__step--3__control__input(type='checkbox' name='add-ons' value="Online service" tabindex='-1' data-monthly-price='1' data-annually-price='10')
    label.form__control--checked.form__step--3__control(tabindex='0')
      .form__step--3__control__input--views(aria-hidden='true')
      .form__control--checked__label.form__step--3__control__label
        .form__step--3__control__label__group
          strong.form__control--checked__label__name.form__step--3__control__label__name Larger storage
          span.form__step--3__control__label__desc Extra 1TB of cloud save
        span.form__step--3__control__label__price.form__step--3__control__label__price--monthly +$2/mo
        span.form__step--3__control__label__price.form__step--3__control__label__price--annually +$20/yr
      input.form__control--checked__input.form__step--3__control__input.form__step--3__control__input(type='checkbox' name='add-ons' value="Larger storage" tabindex='-1' data-monthly-price='2' data-annually-price='20')
    label.form__control--checked.form__step--3__control(tabindex='0')
      .form__step--3__control__input--views(aria-hidden='true')
      .form__control--checked__label.form__step--3__control__label
        .form__step--3__control__label__group
          strong.form__control--checked__label__name.form__step--3__control__label__name Customizable profile
          span.form__step--3__control__label__desc Custom theme on your profile
        span.form__step--3__control__label__price.form__step--3__control__label__price--monthly +$2/mo
        span.form__step--3__control__label__price.form__step--3__control__label__price--annually +$20/yr
      input.form__control--checked__input.form__step--3__control__input.form__step--3__control__input(type='checkbox' name='add-ons' value="Customizable profile" tabindex='-1'  data-monthly-price='2' data-annually-price='20')
