// Step 1
.form__step--1 {
  &__content {
    display: grid;
    row-gap: 16px;
    @media (min-width: 768px) {
      padding-top: 3px;
    }
  }
  &__control {
    display: grid;
    position: relative;

    &__label {
      font-size: 14px;
      font-weight: 400;
    }
    &__input {
      height: 40px;
      outline: none;
      font-weight: 500;
      padding-left: 16px;
      border-radius: 4px;
      color: var(--marine-blue);
      caret-color: var(--purplish-blue);
      border: 1px solid var(--light-gray);
      &--error {
        border-color: var(--strawberry-red);
      }
      &:focus {
        border-color: var(--purplish-blue);
      }
      &::placeholder {
        color: var(--gray);
      }
    }
    &__msg {
      top: 0;
      right: 0;
      font-size: 14px;
      font-weight: 700;
      position: absolute;
      color: var(--strawberry-red);
    }
  }
}

// Step 2
.form__step--2 {
  &__content {
    @media (min-width: 768px) {
      column-gap: 18px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__controls {
    @media (min-width: 992px) {
      column-gap: 18px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__control {
    @media (max-width: 991px) {
      height: 77px;
      display: flex;
      column-gap: 14px;
      align-items: center;
    }
    @media (min-width: 992px) {
      padding-top: 19px;
      min-height: 160px;
    }

    &__label {
      display: grid;
      color: var(--marine-blue);
      @media (min-width: 992px) {
        padding-top: 34px;
      }
      &__price {
        color: var(--gray);
      }
    }
  }

  &__plan {
    height: 48px;
    display: flex;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--alabaster);
    @media (min-width: 768px) {
      margin-top: 32px;
    }

    &__checkbox {
      width: 38px;
      height: 20px;
      padding: 4px;
      border: none;
      cursor: pointer;
      position: relative;
      border-radius: 20px;
      background-color: var(--marine-blue);
      &::after,
      &::before {
        top: 50%;
        cursor: default;
        font-weight: 500;
        color: var(--gray);
        position: absolute;
        pointer-events: none;
        transform: translateY(-50%);
      }
      &[aria-checked="true"]::after,
      &[aria-checked="false"]::before {
        color: var(--marine-blue);
      }
      &::after {
        content: "Yearly";
        left: calc(100% + 24px);
      }
      &::before {
        content: "Monthly";
        right: calc(100% + 24px);
      }
      &__thumb {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        pointer-events: none;
        background-color: var(--white);
      }
      &[aria-checked="true"] &__thumb {
        float: right;
      }
    }
  }
}

// Step 3
.form__step--3 {
  &__control {
    height: 62px;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      height: 81px;
      padding: 14px 24px;
    }
    &__label {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__group {
        display: grid;
      }
      &__name {
        font-size: initial;
        color: var(--marine-blue);
      }
      &__desc {
        color: var(--gray);
        @media (max-width: 767px) {
          font-size: 12px !important;
        }
      }
      &__price {
        font-weight: 500;
        color: var(--purplish-blue);
      }
    }
    &__input--views {
      width: 20px;
      height: 20px;
      margin-right: 17px;
      border-radius: 2px;
      background-repeat: no-repeat;
      background-position: center center;
      border: 1px solid var(--light-gray);
      will-change: border-color, background-color, background-image;
    }
    &:has(:checked) &__input--views {
      border-color: transparent;
      background-color: var(--purplish-blue);
      background-image: url(../../assets/images/icon-checkmark.svg);
    }
  }
}
