// Step 1
.form__step--1 {
  &__content {
    display: grid;
    row-gap: 16px;
    @media (min-width: 768px) {
      padding-top: 3px;
    }
  }
  &__control {
    display: grid;
    position: relative;

    &__label {
      font-size: 14px;
      font-weight: 400;
    }
    &__input {
      height: 40px;
      outline: none;
      font-weight: 500;
      padding-left: 16px;
      border-radius: 4px;
      color: var(--marine-blue);
      caret-color: var(--purplish-blue);
      border: 1px solid var(--light-gray);
      &--error {
        border-color: var(--strawberry-red);
      }
      &:focus {
        border-color: var(--purplish-blue);
      }
      &::-webkit-input-placeholder {
        color: var(--gray);
      }
      &::-moz-placeholder {
        color: var(--gray);
      }
      &:-ms-input-placeholder {
        color: var(--gray);
      }
      &::-ms-input-placeholder {
        color: var(--gray);
      }
      &::placeholder {
        color: var(--gray);
      }
    }
    &__msg {
      top: 0;
      right: 0;
      font-size: 14px;
      font-weight: 700;
      position: absolute;
      color: var(--strawberry-red);
    }
  }
}

// Step 2
.form__step--2 {
  &__content {
    @media (min-width: 768px) {
      height: 263px;
      display: grid;
      align-content: space-between;
    }
  }
  &__controls {
    @media (min-width: 992px) {
      -moz-column-gap: 18px;
      column-gap: 18px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__control {
    @media (max-width: 991px) {
      height: 77px;
      display: flex;
      -moz-column-gap: 14px;
      column-gap: 14px;
      align-items: center;
    }
    @media (min-width: 992px) {
      padding-top: 19px;
      min-height: 160px;
    }

    &__label {
      display: grid;
      color: var(--marine-blue);
      @media (min-width: 992px) {
        padding-top: 34px;
      }
      &__price {
        color: var(--gray);
      }
    }
  }

  &__plan {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--alabaster);
    @media (max-width: 767px) {
      margin-top: 24px;
    }

    &__checkbox {
      width: 38px;
      height: 20px;
      padding: 4px;
      border: none;
      cursor: pointer;
      position: relative;
      border-radius: 20px;
      background-color: var(--marine-blue);
      &::after,
      &::before {
        top: 50%;
        cursor: default;
        font-weight: 500;
        color: var(--gray);
        position: absolute;
        pointer-events: none;
        transform: translateY(-50%);
      }
      &[aria-checked="true"]::after,
      &[aria-checked="false"]::before {
        color: var(--marine-blue);
      }
      &::after {
        content: "Yearly";
        left: calc(100% + 24px);
      }
      &::before {
        content: "Monthly";
        right: calc(100% + 24px);
      }
      &__thumb {
        width: 12px;
        height: 12px;
        display: block;
        border-radius: 50%;
        pointer-events: none;
        background-color: var(--white);
      }
      &[aria-checked="true"] &__thumb {
        float: right;
      }
    }
  }
}

// Step 3
.form__step--3 {
  &__control {
    height: 62px;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      height: 81px;
      padding: 14px 24px;
    }
    &__label {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__group {
        display: grid;
      }
      &__name {
        font-size: initial;
        color: var(--marine-blue);
      }
      &__desc {
        color: var(--gray);
        @media (max-width: 767px) {
          font-size: 12px !important;
        }
      }
      &__price {
        font-weight: 500;
        color: var(--purplish-blue);
      }
    }
    &__input--views {
      width: 20px;
      height: 20px;
      margin-right: 17px;
      border-radius: 2px;
      background-repeat: no-repeat;
      background-position: center center;
      border: 1px solid var(--light-gray);
      will-change: border-color, background-color, background-image;
    }
    &:has(:checked) &__input--views {
      border-color: transparent;
      background-color: var(--purplish-blue);
      background-image: url(../assets/images/icon-checkmark.svg);
    }
  }
}

// Step 4
.form__summary {
  font-size: 14px;
  & > * {
    padding-inline: 16px;
    @media (min-width: 768px) {
      padding-inline: 24px;
    }
  }
  &__wrapper {
    background-color: var(--alabaster);
  }

  &__plan,
  &__add,
  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__plan {
    padding-block: 18px 13px;
    color: var(--marine-blue);
    border-bottom: 1px solid var(--light-gray);
    @media (min-width: 768px) {
      padding-block: 24px;
    }
    &__group {
      display: grid;
    }
    &__name {
      text-transform: capitalize;
    }
    &__change {
      padding: 0;
      border: none;
      cursor: pointer;
      font-weight: 700;
      background: none;
      color: var(--gray);
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      text-decoration: underline;
      &:hover {
        color: var(--purplish-blue);
      }
    }
  }
  &__adds {
    display: grid;
    row-gap: 18px;
    padding-block: 16px;
  }
  &__no_add {
    text-align: center;
    color: var(--gray);
  }
  &__add {
    &__name {
      color: var(--gray);
    }
    &__price {
      color: var(--marine-blue);
    }
  }
  &__total {
    height: 42px;
    align-items: end;
    &__title {
      color: var(--gray);
    }
    &__price {
      font-size: 16px;
      color: var(--purplish-blue);
    }
  }
}
